<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<br><br>
<div align="center">
    <p>COMPANY FILING SCRAPER</p>
    <ol> 1. Enter the company ticker</ol>
    <ol> 2. Wait for a few minutes since the SEC of United States limits to 10 requests/sec</ol>
    <ol> 3. Get a table of 10 years worth of company statement entries</ol>
    <p> NOTE: the current goal is to improve scraping search accuracy, feel free to give feedback on e.g. whether info is enough</p>
</div>
<br><br><br>
<form action="/frontend/result/" method="post" align="center">
    {% csrf_token %}
    <label for="result">Company ticker</label>
    <input id="result" type="text" name="ticker"> <!-- name property is the dict key in the post data -->
    <input type="submit" value="Search">
</form>
</body>
</html>